@use 'sass:map';
@use 'sass:math';

.button {
  font-family: $font-family; // without this the button.form__submit-button.button was Arial. The a.section-details__action.button worked without this.

  @include font-style('button-text');

  background-color: $color-light-1;
  border: none;
  cursor: url('../images/cursor/cursor-outline-white.png'), pointer;

  padding-inline: $button-padding-inline;
  padding-block: $button-padding-block;
  border-radius: $fully-rounded-border;

  // this is for those buttons that are links.
  color: $color-dark-1;
  text-decoration: none;
  text-align: center;

  // $font-name: 'button-text';
  // @include font-style($font-name);
  // $padding-block: 14.5px;
  // padding-block: $padding-block;
  // border-radius: #{math.div(map.get(map.get(map.get($font-styles, $font-name), 'base'), line-height), 2) + $padding-block};

  @include on-hover-smooth(
    (
      box-shadow: 0 0 $button-shadow-blur-size $color-light-1,
    )
  );
}
