.contacts {
  display: flex;
  flex-direction: column;
  gap: $contacts-gap;

  &__section {
    display: flex;
    flex-direction: column;
    gap: $contacts-section-gap;
  }

  &__label {
    @include font-style('label');
  }

  &__info {
    @include font-style('body-sm');

    &--link {
      color: inherit;
      text-decoration: none;
    }

    @include on-hover-smooth(
      (
        color: $color-light-highlight,
      )
    );
  }
}
