.cta {
  display: flex;
  flex-direction: column;
  gap: $cta-line-spacing;
  max-width: fit-content;

  text-decoration: none;
  color: inherit;

  &__phone-number {
    @include font-style('action-strong');
  }

  &__action-phrase {
    @include font-style('utility-text');

    border-bottom: $cta-action-line-thickness solid $color-dark-1;
    padding-bottom: $cta-action-line-spacing;
    max-width: fit-content;

    // position: relative;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   bottom: -8px;
    //   left: 0;
    //   height: 1px;
    //   background-color: black;
    // }
  }
}
