.footer {
  background-image: url('../images/footer-cover-photo.png');
  background-size: cover;
  background-position: $footer-bg-position;

  // background-attachment: fixed;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  height: $footer-height-mobile;

  @include on-tablet {
    height: $footer-height-tablet;
  }

  @include on-desktop {
    height: $footer-height-desktop;
  }
}
