.main {
  background-color: $color-dark-1;

  padding-top: $main-padding-top-mobile;
  padding-bottom: $main-padding-bottom-mobile;

  @include on-tablet {
    padding-top: $main-padding-top-tablet;
  }

  @include on-desktop {
    padding-bottom: $main-padding-bottom-desktop;
  }

  &__compare-bikes {
    margin-top: $main-section-compare-bikes-margin-mobile;

    @include on-tablet {
      margin-top: $main-section-compare-bikes-margin-tablet;
    }

    @include on-desktop {
      margin-top: $main-section-compare-bikes-margin-desktop;
    }
  }

  &__details {
    margin-top: $main-section-details-margin-mobile;

    @include on-tablet {
      margin-top: $main-section-details-margin-tablet;
    }

    @include on-desktop {
      margin-top: $main-section-details-margin-desktop;
    }
  }

  &__contact-us {
    margin-top: $main-section-contact-us-margin-mobile;

    @include on-tablet {
      margin-top: $main-section-contact-us-margin-tablet;
    }

    @include on-desktop {
      margin-top: $main-section-contact-us-margin-desktop;
    }
  }
}
