.menu {
  background-color: $color-light-3;
  color: $color-dark-1;

  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;

    // the background color is required to make the text behind it dissapear when scrolling.
    background-color: $color-light-3;
  }

  &__nav {
    margin-top: $menu-nav-margin-mobile;

    @include on-tablet {
      margin-top: $menu-nav-margin-tablet;
    }

    @include on-desktop {
      margin-top: $menu-nav-margin-desktop;
    }
  }

  &__cta {
    display: inline-block;
    margin-top: $menu-cta-margin;
  }
}
