.page {
  // is there a reason to not name this class "html"?
  font-family: Poppins, sans-serif;
  color: $color-light-1;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    inset: 0;

    visibility: hidden;

    &:target {
      visibility: visible;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
