.page {
  // is there a reason to not name this class "html"?
  font-family: Poppins, sans-serif;
  color: white;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;

    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    inset: 0;

    visibility: hidden;

    &:target {
      visibility: visible;
    }
  }
}
