// mobile+
$media-breakpoints: (
  'tablet': 744px,
  'desktop': 1260px,
);

// can be done with widths here too
$grid-params: (
  'base': (
    'count': 2,
    'gap': 20px,
    'margin': 20px,
  ),
  'tablet': (
    'count': 6,
    'gap': 24px,
    'margin': 72px,
  ),
  'desktop': (
    'count': 12,
    'gap': 24px,
    'margin': 120px,
  ),
);

// colors
$color-dark-1: #1d1d1d;
$color-light-1: #fff;
$color-light-2: #f8f8fa;
$color-light-3: #c2c2c2;
$color-light-highlight: #dee1b5; // eyeballed

// other
$font-family: Poppins, sans-serif;
$transition-duration: 0.5s;
$fully-rounded-border: 9999px;

// page
//    empty

// header
$header-bg-position: 85%;
$header-bottom-spacing-mobile: 270px;
$header-bottom-spacing-tablet: 306px;
$header-bottom-spacing-desktop: 300px;

// top-bar
$top-bar-height-mobile: 86px;
$top-bar-height-tablet: 128px;

// logo-link
$logo-link-height-mobile: 38px;
$logo-link-height-tablet: 56px;

// console
$console-cell-size-mobile: 24px;
$console-cell-size-tablet: 32px;

// menu
$menu-nav-margin-mobile: 24px;
$menu-nav-margin-tablet: 8px;
$menu-nav-margin-desktop: 24px;
$menu-cta-margin: 40px;

// nav
$nav-li-gap: 32px;

// cta
$cta-line-spacing: 16px;
$cta-action-line-thickness: 1px;
$cta-action-line-spacing: 8px;

// main
$main-padding-top-mobile: 60px;
$main-padding-top-tablet: 120px;
$main-padding-bottom-mobile: 120px;
$main-padding-bottom-desktop: 182px;
$main-section-compare-bikes-margin-mobile: 92px;
$main-section-compare-bikes-margin-tablet: 132px;
$main-section-compare-bikes-margin-desktop: 164px;
$main-section-details-margin-mobile: 92px;
$main-section-details-margin-tablet: 120px;
$main-section-details-margin-desktop: 144px;
$main-section-contact-us-margin-mobile: 80px;
$main-section-contact-us-margin-tablet: 120px;
$main-section-contact-us-margin-desktop: 180px;

// section-about-us
$about-us-paragraph-margin-mobile: 32px;

// section-compare-bikes
$compare-bikes-main-grid-margin-mobile: 48px;
$compare-bikes-main-grid-margin-desktop: 56px;
$compare-bikes-main-grid-row-gap-mobile: 40px;
$compare-bikes-main-grid-row-gap-tablet: 48px;

// product-card
$product-card-image-animation-scale: 1.05;
$product-card-title-regular-margin: 32px;
$product-card-title-small-margin: 16px;
$product-card-description-margin: 8px;
$product-card-price-margin: 16px;

// section-details
$details-main-grid-margin-mobile: 48px;
$details-main-grid-margin-tablet: 64px;
$details-main-grid-margin-desktop: 48px;
$details-main-grid-row-gap-mobile: 40px;
$details-main-grid-row-gap-tablet: 48px;

// button
$button-padding-inline: 48px;
$button-padding-block: 14.5px;
$button-shadow-blur-size: 20px;

// section-contact-us
$contact-us-main-grid-row-gap: 48px;

// form
$form-gap: 16px;
$form-button-margin: 32px - $form-gap;
$input-padding-inline: 16px;
$input-padding-block: 14px;
$input-textarea-radius: $input-padding-inline;
$input-textarea-min-height: 148px;

// contacts
$contacts-gap: 24px;
$contacts-section-gap: 8px;

// footer
$footer-height-mobile: 200px;
$footer-height-tablet: 480px;
$footer-height-desktop: 555px;
$footer-bg-position: 70%;
